accelerate
datasets
fastapi
fire
gradio
mmengine
numpy
pybind11
safetensors
sentencepiece
setuptools
shortuuid
tiktoken
torch
transformers>=4.33.0
tritonclient[all]
uvicorn
pydantic==1.10.4
gunicorn==21.2.0
Flask==2.3.3
Flask-Pydantic==0.11.0
